
* {
    margin: 0px;
    padding: 0px;
    font-family: verdana;
}

p {
    text-align: center;
    color: red;
}

#para1 {
    color: blue;
}

.sample {
    border: 4px black dashed;
}

.sample2 {
    background-color: aqua;
}

.nav {
    padding: 30px;
    margin: 30px;
}

.footer {
    margin: 0px;
}

h2.font {
    font-family: courier;
}

